.accordion__item {
    margin: 15px auto;
    position: relative;
}

.accordion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border: 3px solid $black;
    width: 100%;
    font-size: 24px;
    text-align: left;
    padding: 5px 25px;
    margin-bottom: 0;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.accordion__content {
    display: block;

    &--inner {
        border: 3px solid $black;
        font-size: 16px;
        text-align: left;
        padding: 10px 25px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out; 
        margin: 10px 0;
        color: $black;
    }
}
/* General Styles */

.hidden {
    display: none;
}

.active {
    display: block;
}


/* Plus/Minus animated icon */
.accordion--icon {
    color: #ecf0f1;
    background: transparent;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 1.5em;
    position: relative;
    pointer-events: none;


    &:hover {
        cursor: pointer;
    }

    span {
        position: absolute;
        transition: .3s;
        background: $black;
        border-radius: 2px;
    }
    
    span:first-of-type {
        top: 25%;
        bottom: 25%;
        width: 10%;
        left: 45%;
    }
    
    span:last-of-type {
        left: 25%;
        right: 25%;
        height: 10%;
        top: 45%;
    }
}

.active {

    .accordion--icon span:first-of-type, .accordion--icon span:last-of-type {
        transform: rotate(90deg);
    }

    .accordion--icon span:last-of-type {
        left: 50%;
        right: 50%;
    }
}
