@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

// Set font size variables here

$xl: 48px;
$large: 36px;
$medium: 24px;
$small: 12px;

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}